/* Global background image */
body {
    background-image: url('https://k.top4top.io/p_3215w9cky1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* Projects section */
#catalog {
    padding: 2rem;
    transition: opacity 0.5s ease-in-out;
}

/* Style for square cards */
.card-square {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    transition: filter 0.3s ease, transform 0.5s ease;
}

.card-square:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.card1 {
    background-image: url('../uploads/bgg1.jpg');
}

.card2 {
    background-image: url('../uploads/bgg2.jpg');
}

.card3 {
    background-image: url('../uploads/bgg3.jpg');
}

/* Video overlay styles */
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
}
